@media (max-width: 1440px) {

	// Header-------------------
	.header {
		&__aside-logo {
			img {
				width: 100px;
			}
		}

		&__title {
			font-size: 130px;
			line-height: 108px;
			top: 20px;
			left: 60px;
		}

		&__aside-search {
			padding-bottom: 8px;
		}

		&__aside-date {
			font-size: 60px;

			span {
				font-size: 14px;
				padding-top: 0;
				margin-bottom: 5px;
			}
		}

		&__arrows {
			left: 130px;
		}
	}

	.aside-menu {
		padding-top: 20px;
	}

	// Surf---------------------
	.surf-box__inner {
		min-height: 650px;
	}

	// Shop---------------------
	.shop {
		&__slider-content {
			padding-left: 150px;
		}

		&__extras {
			padding-left: 180px;

			&-name {
				letter-spacing: 3px;
			}
		}
	}
}



@media (max-width: 1366px) {

	// Header-------------------
	.header__aside {
		position: absolute;
		border-right: none;
		height: 100%;
		text-align-last: left;
		display: flex;
		height: 110px;
		background-color: rgba(#fff, .1);
		text-align-last: center;

		&-search {
			padding: 40px 15px 15px;
		}

		&-date {
			padding: 15px;
		}

		&-location {
			margin-top: 45px;
		}
	}

	.aside-menu {
		padding-top: 0;

		&__list {
			li {
				display: inline-block;
			}

			a {
				padding: 15px;
			}
		}
	}

	.header__arrows {
		left: 20px;
		bottom: 20px;
	}

	.slider-item__info-title {
		font-size: 65px;
	}

	// Shop---------------------
	.shop {
		&__slider-content {
			padding-left: 150px;
		}

		&__extras {
			padding-left: 150px;
		}
	}
}



@media (max-width: 1340px) {

	// Header-------------------
	.header__map {
		svg {
			width: 500px;
			height: 250px;
		}
	}

	.slider-arrows {
		top: 20px;
		right: 20px;
	}

	.slider-arrows__left {
		right: 60px;
	}
}



@media (max-width: 1300px) {

	//Shop----------------------
	// Shop---------------------
	.shop {
		&__slider-content {
			padding-left: 80px;
		}

		&__extras {
			padding-left: 100px;
		}
	}
}



@media (max-width: 1250px) {

	// Surf--------------------
	.slider-map {
		max-width: 1000px;
		min-height: 531px;
	}

	.slider-map .slick-list {
		min-height: 515px;
	}

	.slider-points {
		&__circle {
			width: 20px;
			height: 20px;
		}

		&__content {
			height: 180px;
			width: 240px;
			padding: 10px 20px 0px 20px;

			&::before {
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				bottom: -23px;
			}
		}

		&--1 {
			top: 275px;
		}

		&--2 {
			top: 210px;
		}

		&--3 {
			top: 265px;
			left: 26%;
		}

		&--4 {
			top: 395px;
		}

		&--5 {
			top: 190px;
			left: 45%;
		}

		&--6 {
			top: 460px;
		}

		&--7 {
			top: 320px;
		}

		&--8 {
			top: 415px;

			.slider-points__content {
				transform: translateX(-217px);

				&::before {
					right: 3px;
				}
			}
		}
	}

	.surf {
		background-size: 10%;
	}

	// GLOBAL===================
	.title {
		span {
			font-size: 180px;
		}

		h3 {
			font-size: 70px;
		}
	}

	.subtitle {
		&__head {
			font-size: 35px;
		}
	}

	.headline-left {
		font-size: 17px;
		line-height: 30px;
		padding-left: 93px;

		&::before {
			width: 70px;
		}
	}

	.headline-right {
		font-size: 17px;
		line-height: 30px;
		padding-right: 93px;

		&::before {
			width: 70px;
		}
	}
}


@media (max-width: 1200px) {

	// Travel--------------------
	.holder-slider {
		&__descr {
			padding: 160px 0 0 20px;
			background-size: contain;
			background-position: right -119px;
		}

		&__info {
			display: block;
			padding-top: 30px;

			&-subtitle {
				position: static;
				transform: rotate(0);
				height: auto;
				width: auto;
				text-align-last: left;
				padding-bottom: 10px;
			}

			&-item {
				min-height: auto;
				margin-bottom: 25px;
				position: relative;
				padding-left: 20px;
			}

			&-title {
				padding-left: 0;
			}

			&-title .holder-pricing__span {
				position: static;
				display: block;
				text-align: left;
				padding-top: 15px;
				padding-left: 10px;
			}
		}
	}

	.holder {
		background-position: right bottom 80px;
	}

	.holder {
		.title {
			span {
				padding-bottom: 0;
			}
		}
	}

	// Sleep----------------------
	.quantity-button.quantity-up {
		right: auto;
		left: 25px;
	}

	.quantity-button.quantity-down {
		right: auto;
	}

	.sleep {
		.holder-slider__descr {
			min-height: 320px;
			background-position: right 20px;
		}
	}

	// Shop----------------------
	.shop {
		background-position: right top 50%;

		&__slider-inner {
			display: block;
		}

		&__slider-info {
			padding-top: 55px;
			padding-bottom: 50px;
		}

		&__extras {
			padding-left: 300px;
		}
	}

	.surfboard__position--3 .surfboard-box__content {
		left: 130px;

		&::before {
			right: auto;
			left: -95px;
		}
	}

	// GLOBAL====================
	.surf,
	.holder {
		padding: 70px 0 50px;
	}

	.footer {
		padding-top: 200px;
	}
}



@media (max-width: 1040px) {

	// Header-------------------
	.header__arrows {
		display: none;
	}

	.header__aside {
		&-search {
			padding: 40px 15px 15px;
		}
	}

	.aside-menu {
		background-color: #000;
		z-index: 22;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: translateX(-100%);
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 16px;
		transition: all 0.5s;

		&.active {
			transform: translateX(0);
		}
	}

	.slider-item__info {
		position: absolute;
		right: 20px;
		bottom: 17px;
		text-align: right;

		&-text {
			font-size: 30px;
			line-height: 20px;
			margin-bottom: 15px;
		}

		&-suptext {
			margin-bottom: 5px;
		}

		&-title {
			font-size: 55px;
			line-height: 55px;
			margin-bottom: 20px;
		}
	}

	.slider-dots,
	.slick-dots {
		right: 0;
		left: 10px;
		margin: 0 auto;
		bottom: 5px;
	}

	.slick-dots {
		bottom: 10px;
	}

	.dots-box {
		width: 125px;

		&__number {
			font-size: 18px;
		}

		&__name {
			line-height: 18px;
		}
	}

	.menu-btn {
		display: flex;
	}

	// Surf---------------------
	.slider-map {
		background-image: none;
		max-width: 100%;
		min-height: 280px;

		.slick-track {
			min-height: 280px;
		}

		.slick-list {
			min-height: 280px;
		}
	}

	.slider-points {
		position: static;

		&__circle {
			display: none;
		}

		&__content {
			margin-left: 50px;
			display: block;
			transform: translateX(0);

			&::before {
				display: none;
			}
		}

		&--8 {
			.slider-points__content {
				transform: translateX(0);
			}
		}
	}

	.surf__subtitle {
		padding-right: 20px;
	}

	.surf {
		background-size: 15%;
	}

	// Shop-------------------------
	.shop {
		&__extras {
			padding-left: 120px;
		}
	}

	.surfboard__position--3 .surfboard-box__content {
		left: 31px;

		&::before {
			display: none;
		}
	}

	// GLOBAL========================
	.headline-left {
		font-size: 16px;
		line-height: 18px;
		padding-left: 65px;

		&::before {
			width: 50px;
		}
	}

	.headline-right {
		font-size: 16px;
		line-height: 18px;
		padding-right: 65px;

		&::before {
			width: 50px;
		}
	}
}



@media (max-width: 960px) {

	// Header-------------------
	.slider-dots,
	.slick-dots {
		display: none;
	}

	.slick-dots {
		li {
			display: none;
		}
	}
}



@media (max-width: 900px) {
	.slider-points__content {
		width: 4%;
	}
}



@media (max-width: 850px) {

	// Shop-------------------------
	.shop {
		&__slider-content {
			display: block;
		}

		&__extras {
			padding-left: 0;
			padding-top: 30px;

			&-title {
				padding-left: 80px;
			}
		}
	}

	.surfboard__position--3 .surfboard-box__content {
		left: 0px;
		top: 25px;
		padding-right: 0;
	}

	.surfboard-box__content {
		left: 0;
		padding-left: 0;
		top: 25px;
		width: 270px;

		&::before {
			display: none;
		}
	}

	.surfboard__position--1 {
		right: auto;
		top: 215px;
		left: 177px;
	}
}



@media (max-width: 680px) {

	// Surf----------------------
	.slider-points__content {
		&-row {
			padding-bottom: 11px;
		}
	}

	.surf {
		background-size: 20%;
	}

	.surf__slider .slider-arrows {
		top: 20px;
	}

	.surf__slider {
		padding-top: 65px;
	}

	// Travel
	.holder-slider__subtitle {
		padding: 60px 20px 0 0;
	}

	.holder-slider__head {
		min-height: 720px;
	}

	// GLOBAL====================
	.title {
		span {
			font-size: 100px;
			padding-bottom: 80px;
		}
	}
}



@media (max-width: 650px) {
	.shop__slider {
		padding-left: 50px;
	}

	.surfboard__position--1 {
		.surfboard-box__content {
			left: -186px;
		}
	}
}


@media (max-width: 600px) {
	.holder-slider__descr {
		background-image: none !important;
	}
}



@media (max-width: 500px) {

	// Travel---------------------
	.descr__head {
		font-size: 32px;
	}

	.holder-slider {
		&__descr {
			padding-top: 200px;
		}

		&__info-title {
			font-size: 32px;
		}

		&__info-subtitle {
			font-size: 16px;
			padding-bottom: 0;
		}
	}

	// GLOBAL=====================
	.headline-left {
		letter-spacing: 2.3px;
	}

	.headline-right {
		letter-spacing: 2.3px;
	}

	.subtitle {
		&__head {
			font-size: 32px;
			padding-right: 0;
		}
	}
}



@media (max-width: 460px) {

	// Header-------------------
	.header__aside {
		display: block;
		text-align: center;
		padding-right: 0;
		height: 100vh;

		&-search {
			padding: 30px 0px 15px 0;
		}

		&-date {
			padding: 0;
			font-size: 50px;
			line-height: 45px;
			position: absolute;
			bottom: 50px;
			left: 20px;

			span {
				font-size: 12px;
			}
		}

		&-location {
			position: absolute;
			bottom: 35px;
			left: 4px;
			margin-top: 0;
		}
	}

	.header__title {
		display: none;
	}

	.slider-item__info-title {
		font-size: 50px;
	}

	// Travel-----------------------------
	.holder {
		background-size: 200px;
		background-position: right bottom 150px;
	}

	// Sleep-------------------------------
	.holder.sleep {
		background-size: 120px;
	}

	// Shop--------------------------------
	.shop__slider-content {
		padding-left: 10px;
	}

	.surfboard-box__content {
		font-size: 20px;
	}

	.surfboard__position--3 .surfboard-box__content {
		left: -50px;
	}

	.shop__extras {
		margin-left: -10px;

		&-box {
			margin-right: 30px;
		}
	}
}



@media (max-width: 420px) {

	// Surf--------------------
	.slider-map .slider-points__content,
	.slider-map .slick-current .slider-points__content {
		width: 250px;
		padding: 28px 15px 0;
	}

	// SLeep-------------------
	.holder-slider__descr .descr__head .holder__star-list {
		position: static;
		margin-left: -15px;
	}

	.holder-slider__descr .descr__head.descr__head-sleep {
		padding-right: 0;
	}

	// GLOBAL==================
	.btn {
		margin-top: 20px;
		font-size: 32px;

		span {
			margin-left: 0;

			&::before {
				left: -8px;
			}
		}
	}
}



@media (max-width: 340px) {

	// GLOBAL===================
	.title {
		h3 {
			font-size: 60px;
		}

		span {
			font-size: 85px;
		}
	}
}



@media (max-width: 320px) {

	// Header-------------------
	.headline-left {
		font-size: 14px;
		line-height: 15px;
		padding-left: 45px;

		&::before {
			width: 35px;
		}
	}

	.headline-right {
		font-size: 14px;
		line-height: 15px;
		padding-right: 45px;

		&::before {
			width: 35px;
		}
	}

	.slider-item__info {
		&-title {
			font-size: 40px;
		}

		&-text {
			font-size: 28px;
		}
	}
}